<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed - BiteRate App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/feed.css">
</head>

<body>
    <!-- <header>
        <div class="header-wrapper">
            <div class="logo-container">
                <h1>BiteRate</h1>
            </div>
            {% include 'navbar.html' %}  
        </div>
    </header> -->
    <div class="header-content">
        <header>
            <div class="header-wrapper"> <!-- The wrapper div -->
                <div class="logo-container"> <!-- The logo div -->
                    <h1>BiteRate</h1>
                </div>
                <label for="restaurant-search">
                    <input type="search" id="search" name="search" placeholder="Search Restaurants">
                </label>
                {% include 'navbar.html' %}  
            </div>
        </header>
    </div>
    <div class="main-content">
        <h2>Recent Reviews</h2>

        <!-- Example of a review card -->
        <div class="feed-card">
            <img src="path_to_image1.jpg" alt="Restaurant Image">
            <h3>Restaurant Name</h3>
            <p>Reviewed by Alec Nagal</p>
            <p>This is just an example review content for the restaurant...</p>
        </div>

        <div class="feed-card">
            <img src="path_to_image2.jpg" alt="Restaurant Image">
            <h3>Another Restaurant</h3>
            <p>Reviewed by Elon Musk</p>
            <p>Food here was great! They also had a charge station for my Cyber Truck</p>
        </div>

        <!-- You can add more review cards in the same format as above -->
        <!-- Replace "path_to_image.jpg with actual image"-->

    </div>
    {% include 'footer.html' %}  
</body>

</html>
