<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteRate App</title>
    <link rel="stylesheet" type="text/css" href="../static/resources/images/css/home.css">
</head>

<body>
    <div id="header-content">
        <header>
            <div class="header-wrapper"> <!-- The wrapper div -->
                <div class="logo-container"> <!-- The logo div -->
                    <h1>BiteRate</h1>
                </div>
                <label for="restaurant-search">
                    <input type="search" id="search" name="search" placeholder="Search Restaurants">
                </label>
                <nav>
                    <a href="/">Home</a>
                    <a href="/team">Meet The Team</a>
                    <a href="/feed">Feed</a>
                    <a href="/login">Log In</a>
                    <a href="/registration">Sign Up</a>
                </nav>
            </div>
        </header>
        <div class="main-content">
            <h2 id="header-title">Track and share your favorite restaurants with your friends</h2>
<!--            <p class="reg-sign-up">SIGN UP NOW AND START RATING</p>-->
            <a href="/registration">
                 <button class="download-btn">SIGN UP HERE</button>
            </a>
        </div>
        <div>
            <!-- <hr class="firsthr"> -->
        </div>
    </div>

    <div class="mid-content">
        <div class="Welcome-content">
            <h1 class="welcome-header">High Rated Restaurants</h1>

            <div class="card-group">
                <div class="card">
                    <div class="card-image">
                        <img class="restaurant-img" src="../static/resources/images/restaurant_image1.jpg" />
                    </div>

                    <div class="card-header">
                        <a class="name">Amici's East Coast Pizzeria</a>
                        <div class="rating-section">
                            <a class="rating">
                                <img class="stars" src="../static/resources/images/stars.png" />
                            </a>
                            <div class="rating-review">
                                <a class="number-stars">4.0</a>
                                <a class="reviews">(45 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img class="restaurant-img" src="../static/resources/images/restaurant_image2.jpg" />
                    </div>

                    <div class="card-header">
                        <a class="name">The Rustic Fork</a>
                        <div class="rating-section">
                            <a class="rating">
                                <img class="stars" src="../static/resources/images/stars.png" />
                            </a>
                            <div class="rating-review">
                                <a class="number-stars">4.0</a>
                                <a class="reviews">(45 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img class="restaurant-img" src="../static/resources/images/restaurant_image3.jpg" />
                    </div>

                    <div class="card-header">
                        <a class="name">Spice Avenue Bistro</a>
                        <div class="rating-section">
                            <a class="rating">
                                <img class="stars" src="../static/resources/images/stars.png" />
                            </a>
                            <div class="rating-review">
                                <a class="number-stars">4.0</a>
                                <a class="reviews">(45 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                    <div class="card-image">
                        <img class="restaurant-img" src="../static/resources/images/restaurant_image4.jpg" />
                    </div>

                    <div class="card-header">
                        <a class="name">Coastal Catch Grill</a>
                        <div class="rating-section">
                            <a class="rating">
                                <img class="stars" src="../static/resources/images/stars.png" />
                            </a>
                            <div class="rating-review">
                                <a class="number-stars">4.0</a>
                                <a class="reviews">(45 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img class="restaurant-img" src="../static/resources/images/restaurant_image5.jpg" />
                    </div>

                    <div class="card-header">
                        <a class="name">Garden Greens Cafe</a>
                        <div class="rating-section">
                            <a class="rating">
                                <img class="stars" src="../static/resources/images/stars.png" />
                            </a>
                            <div class="rating-review">
                                <a class="number-stars">4.0</a>
                                <a class="reviews">(45 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img class="restaurant-img" src="../static/resources/images/restaurant_image6.jpg" />
                    </div>

                    <div class="card-header">
                        <a class="name">Fire & Smoke Steakhouse</a>
                        <div class="rating-section">
                            <a class="rating">
                                <img class="stars" src="../static/resources/images/stars.png" />
                            </a>
                            <div class="rating-review">
                                <a class="number-stars">4.0</a>
                                <a class="reviews">(45 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="social-media">
                <a href="#">
                    <img class="social" src="../static/resources/images/facebook.png" />
                </a>
                <a href="#">
                    <img class="social" src="../static/resources/images/instagram.png" />
                </a>
                <a href="#">
                    <img class="social" src="../static/resources/images/twitter.png" />
                </a>
            </div>
            <a href="contact.html">Contact Us</a>
            <a href="follow.html">Follow Us</a>
            <a href="terms.html">Terms of Service</a>
        </footer>
</body>

</html>