<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - BiteRate App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="logo-container">
                <h1>BiteRate</h1>
            </div>
            {% include 'navbar.html' %} 
        </div>
    </header>
    <div class="main-content">
        <h2>Search for Restaurants</h2>
        <div>
            <input type="text" class="search-bar" placeholder="Type to search...">
            <button class="search-btn">Search</button>
        </div>
    </div>
    <footer>
        <a href="contact.html">Contact Us</a>
        <a href="follow.html">Follow Us</a>
        <a href="terms.html">Terms of Service</a>
    </footer>
</body>

</html>
