<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - BiteRate App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="logo-container">
                <h1>BiteRate</h1>
            </div>
            {% include 'navbar.html' %} 
        </div>
    </header>

    {% include 'footer.html' %}  
</body>

</html>
