<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteRate App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/team.css">
</head>

<body>
    <!-- <header>
        <div class="header-wrapper">
            <div class="logo-container">
                <h1>BiteRate</h1>
            </div>
            {% include 'navbar.html' %} 
        </div>
    </header> -->

    <div class="header-content">
        <header>
            <div class="header-wrapper"> <!-- The wrapper div -->
                <div class="logo-container"> <!-- The logo div -->
                    <h1>BiteRate</h1>
                </div>

                {% include 'navbar.html' %} 
            </div>
        </header>
    </div>
    <div class="main-content">
        <script>
            //pop-up function
            function showComingSoonAlert() {
                alert('Coming Soon!');
            }

            window.addEventListener('load', showComingSoonAlert);
        </script>
        
    </div>
    {% include 'footer.html' %}  
</body>

</html>