* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* nav bar */
.nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  padding-top: 3rem;
}

.nav-list-container {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  font-size: 18px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-shadow: 1px 2px 4px rgba(169, 169, 169, 0.63);
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav .site-title {
  font-size: 3rem;
  font-weight: 900;
  color: #238965;
  text-shadow: 3px 2px 4px rgba(169, 169, 169, 0.63);
  font-family: "Times New Roman", Times, serif;
}

.nav li:hover {
  color: darkgray;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: width 0.3s, opacity 0.3s;
  width: 10;
  /* initially set to 0 */
  opacity: 50;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* makes it circular */
  border: none;
  cursor: pointer;
  background-color: #238965;
  color: white;
  font-size: 25px;
  /* adjust as needed */
  font-weight: 10px;
}

.circle-button:hover {
  background-color: #24664f;
}

/* profile page */

.profile-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.header {
  text-align: center;
}

/* .profile-pic-placeholder2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  margin: auto;
} */

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the profile pic horizontally */
}

.edit-button {
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 100px;
  height: 25px;
}

.edit-button:hover {
  background-color: #238965;
}

.follow-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.followers {
  font-size: small;
  color: rgb(65, 65, 65);
  text-align: center;
}

.followers a {
  text-decoration: none; /* Remove underline from links */
  color: rgb(65, 65, 65); /* Set the link color */
}

.following {
  font-size: small;
  color: rgb(65, 65, 65);
  text-align: center;
}

.following a {
  text-decoration: none; /* Remove underline from links */
  color: rgb(65, 65, 65); /* Set the link color */
}

.rank {
  font-size: small;
  color: rgb(65, 65, 65);
  text-align: center;
}

.content-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.restaurants,
.recent-activity {
  width: 48%;
  /* Roughly half the width minus some space for margins */
}

.activity-card {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-item {
  font-weight: bolder;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.activities-restaurants-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  /* Adds spacing between the two sections */
}

.recent-activity,
.restaurants {
  flex: 1;
  /* Takes up equal width */
}

.activity-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  position: relative; /* Add position relative to the card container */
}

.activity-header {
  display: flex;
  align-items: center;
}

.user-profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 1rem;
}

.activity-info {
  flex-grow: 1; /* Allow the info to expand and take available space */
}

.activity-place {
  text-align: center; /* Center the text within its container */
  margin-bottom: 0.5rem;
}

.activity-location {
  color: #666;
  margin: 0 auto; /* Center the text horizontally */
  text-align: center; /* Center the text within its container */
}

.activity-comment {
  margin-top: 1rem;
  color: #333;
}

.activity-score {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  color: #238965;
  font-size: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-underline {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit the text color from its parent (black by default) */
}

/* edit profile*/

.edit-title {
  display: flex;
  justify-content: center;
}

.edit-profile-container {
  position: relative;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.editpp-container {
  display: flex;
  justify-content: center;
}

.backbtn {
  position: absolute;
  left: calc(-10rem + 5px);
  top: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #238965;
  display: inline-block;
  background-color: #fff;
}

.profile-pic-main {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.edit-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* Added padding won't affect width */
}

.submit-btn-container {
  display: flex;
  /* Use flexbox to arrange children */
  justify-content: center;
  /* Center children horizontally in the container */
  padding: 20px 0;
  /* Add some padding at the top and bottom if needed */
}

.submit-btn {
  text-align: center;
  border-radius: 30px;
  background-color: white;
  width: 120px;
  height: 35px;
  font-size: small;
}

.submit-btn:hover {
  background-color: #238965;
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
  /* Adjust size as needed */
  height: 250px;
  /* Adjust size as needed */
  margin-bottom: 80px;
  /* Adjust spacing as needed */
  display: block;
  /* Center the image in the container */
  margin-left: auto;
  margin-right: auto;
}

.editpp-input {
  display: flex;
  justify-content: center;
}

.editpp2-input {
  border: none;
  background-color: white;
  font-size: x-large;
  color: #238965;
  font-weight: 600;
}

.profile-pic-placeholder {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* Makes it round */
  background-color: #f3f3f3;
  /* Placeholder color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* Center the placeholder in the container */
  margin-bottom: 80px;
  cursor: pointer;
  /* Indicate that it's clickable */
}

.profile-pic-placeholder-content {
  text-align: center;
  color: #ccc;
  /* Placeholder text color */
  font-size: 16px;
  /* Placeholder text size */
}

/* regristration page */

.main-content {
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 60px 70px;
  background: rgb(217, 217, 217);
  border-radius: 25px;
}

.page-container {
  min-height: 100vh; 
  flex-direction: column;
}

.sign-up {
  color: #004444;
  font: bold;
}

.log-in {
  color: #004444;
  font: bold;
}

.logo-container {
  flex: 0;
}

header h1 {
  margin: 0;
  color: #006666;
  font-size: 35px;
  letter-spacing: 1px;
}

.main-content {
  padding: 25px;
  text-align: center;
  width: 750px;
  margin: auto;
}

.signup-form {
  max-width: 400px;
  margin: 50px auto;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.signup-btn {
  width: 100%;
  padding: 15px;
  background-color: #238965;
  border: none;
  border-radius: 3px;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #186147;
}

.login-link {
  display: block;
  margin-top: 20px;
}

/* lists page */

.listsHeader {
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

.listsUl {
  border-bottom: solid;
  border-color: #565656;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
}

.none {
  display: none;
}

.active {
  display: block;
}

.clicked {
  font-weight: bold;
}

.tabList {
  display: inline-block;
  cursor: pointer;
  margin-left: 100px;
  font-size: 25px;
}

.addBold {
  font-weight: bold;
  color: black;
}

.resList {
  margin-left: -40px;
  padding: 40px 140px;
  font-size: 40px;
  color: black;
  font-weight: 600;
  border-bottom: solid;
  border-color: #565656;
  list-style-position: inside;
  cursor: pointer;
}

.resContent {
  font-size: 20px;
  color: #565656;
  margin-top: 5px;
}

.circle {
  float: inline-end;
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 50%;
  color: #059178;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #565656;
  font-size: 45px;
}

.content {
  font-family: "Inter";
}

/* ----------- Robin CSS ----------- */
.rest-name {
  font-size: 76px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rest-loc {
  color: rgba(0, 0, 0, 0.535);
  margin-bottom: 5px;
}

.listings {
  display: flex;
}

.res-attributes {
  display: flex;
  list-style: none;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.res-attributes li {
  color: #059178;
  padding-right: 4px;
}

.res-attributes li:last-child::after {
  content: "";
}

.res-attributes li::after {
  content: " |";
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.score {
  font-size: 26px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 6px;
  color: #059178;
  font-weight: bold;
}

.left {
  width: 600px;
  position: relative;
  margin-top: 50px;
}

.text {
  margin-right: 70px;
}

.top {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

img {
  border-radius: 4px;
}

.btns {
  display: flex;
  width: 500px;

  justify-content: center;
  gap: 30px;
}

.btn {
  /* position: absolute; */
  font-size: 16px;
  left: 35%;
  bottom: -13%;
  transform: translateY(0%);
  background: #059178;
  border: none;
  color: rgba(255, 255, 255, 0.965);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 1s ease;
}

.btn:hover {
  transform: translateY(-10%);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-txt {
  font-size: 28px;
}

.dishes {
  display: flex;
  gap: 58px;
}

.dish {
  overflow: hidden;
}

.dish img {
  transform: scale();
  transition: transform 0.5s ease;
  cursor: pointer;
}

.dish img:hover {
  transform: scale(1.1);
}

.review-ui {
  position: fixed;
  background-color: #059178;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 4px;
  z-index: 100;
  height: 400px;
  width: 750px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.review-ui button {
  align-self: center;
}

.review-ui p {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.review-ui textarea {
  border: none;
  text-decoration: none;
  resize: none;
  border-radius: 4px;
  margin: 0px 40px;
  margin-bottom: 20px;
}

.review-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

.btn-white {
  background-color: white;
  color: #059178;
}

.btn-green {
  background-color: #059178;
  color: white;
}

.review-btn {
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.reserve-form {
  width: 600px;
  background-color: white;
  height: 270px;
  margin: 0 auto;
  border-radius: 4px;
  padding-top: 20px;
}

.cntr-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: #004444;
}

.cntr-form input {
  width: 300px;
  text-align: center;
  color: #004444;
}

.x {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
}

.thanks {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 35%;
  transition: all 0.4s ease;
}

/* animation for UI */
.show {
  opacity: 1;
  pointer-events: all;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

/************* Styling for Leaderboard *************/
.leaderboard-container {
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.leaderboard-title {
  text-align: center;
}

thead {
  background-color: #ece7e7;
}

.leaderboard-table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
}

.leaderboard-table > thead > th {
  padding: 20px;
}

td {
  border-bottom: 1px solid #f0e6e6;
  padding: 10px;
}

.profile-pic {
  margin: 0;
  padding: 0;
  background-color: #059178;
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}

.leaderboard-user-name {
  float: left;
  top: 3px;
  position: relative;
  left: 10px;
}

.leaderboard-name-data {
  display: block;
  width: 200px;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.restaurant-icon {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 11px;
}

.number-of-visits {
  float: left;
}

.leaderboard-restarant-visited {
  width: 55px;
  display: block;
  margin: auto;
  overflow: hidden;
}

/************* End of Styling for Leaderboard *************/

/************* following *************/
/* Style for the search container */
.search-following-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Style for the search input */
.search-following-container input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-follwoing-container input:focus {
  border-color: #007bff;
}

/* Style for the followers list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for each follower item */
.follower-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.follower-item:hover {
  background-color: #f5f5f5;
}

/* Style for the follow buttons */
.follower-item button {
  padding: 5px 10px;
  border: 1px solid #000000;
  /* Border color is green now */
  border-radius: 20px;
  background-color: #ffffff;
  /* Background is white */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  color: #000000;
  /* Text color is green now */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follower-item button:hover {
  background-color: #238965;
}

/* Style for the button when the user is being followed */
.follower-item button[disabled] {
  background-color: #d4d4d4;
  cursor: not-allowed;
}

.following-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* viewport height */
}

/* Centered content wrapper */
.content-wrapper {
  width: 95%;
  /* or whatever width you desire */
  background-color: #ffffff;
}

.following-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d4d4d4;
  margin-right: 15px;
  flex-shrink: 0;
}

.follower-item span {
  flex-grow: 1;
}

/************* Styling for MeettheTeam *************/

.meettheteam-container {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.mtt-title {
  text-align: center;
}

.teams {
  display: block;
  margin: auto;
  width: 80%;
}

.teammate-image {
  width: 300px;
  height: 300px;
}

.card-group {
  display: block;
  width: 65%;
  margin: auto;
  padding: 20px;
}

.card {
  text-align: center;
  
  display: inline-block;
  border: 1px solid rgb(240, 234, 234);
  margin: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.team-title {
  text-align: center;
  font-size: 20px;
}

.paragraph {
  width: 750px;
  text-align: justify;
  line-height: 30px;
  margin: 30px;
}

.team-paragraph {
  float: left;
  position: relative;
  top: 10px;
}

.team-image {
  width: 650px;
  height: 600px;
  border-radius: 100%;
  margin: 70px;
}

.mid-content {
  overflow: hidden;
  width: 60%;
  padding: 20px 120px;
  margin: auto;
}

.teammate-name {
  font-weight: 700;
}

/************* End of Styling for MeettheTeam *************/

/************* Styling for Search *************/
.search-container {
  max-width: 100%;
}

.results-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.search-results {
  width: 50%;
  margin: auto;
  padding: 0;
}

.restaurant-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #232323;
  margin: 10px 0 0;
  padding: 0;
}

.restaurant-result-image {
  width: 150px;
  height: 100px;
  border-radius: 8px;
  margin: 0 10px 0 0;
  padding: 0;
  float: left;
}

.restaurant-result-content {
  line-height: 12px;
  color: #6e7072;
}

.result {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  padding: 25px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
}

.result:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

/************* End of Styling for Search *************/

/* footer */
.footer {
  background-color: #d9d9d9;
  padding: 30px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer-hidden {
  display: none;
}

.social-logo {
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 50px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.social-link:hover {
  transform: scale(1.2);
}

.social-logo img {
  margin-left: 10px;
  width: 30px; 
  height: 30px; 
}

/* burger navbar */

.burger-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }
  .nav-list-container {
    display: none;
  }
}

.burger-icon.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.burger-icon.open .bar2 {
  .change .bar2 {opacity: 0;}
}

.burger-icon.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}